<div class="card">
  <div class="card-header bg-primary text-center">
    <h1 class="card-title font-weigh-bold text-light mt-3">
      Pedido: #<%= @order.ddtech_key %>
    </h1>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <ul class="progressbar text-center">
          <li class="active">Órden creada</li>
          <li class="<%= 'active' if movements_include?(@movements, Movement::DESCRIPTIONS[:supplied_order]) %>">
            Surtida
          </li>
          <% if @order.assemble %>
            <li class="<%= 'active' if movements_include?(@movements, Movement::DESCRIPTIONS[:assembled_order]) %>">
              Ensamble finalizado
            </li>
          <% end %>
          <li class="<%= 'active' if movements_include?(@movements, Movement::DESCRIPTIONS[:sent_order]) %>">
            Enviado
          </li>
        </ul>
      </div>
    </div>

    <% if @order.guide.present? %>
    <div class="text-center mt-5">
      <%= content_tag :h2, @order.parcel, class: "parcel #{@order.parcel} font-weight-bold" %>
      <%= content_tag :h2, @order.guide %>
    </div>
    <% end %>

    <div class="text-center mt-5">
      <%= link_to t('labels.track_your_package'),
        t("mailer.body.track_urls.#{@order.parcel.downcase}"),
        class: 'btn btn-primary btn-lg', target: '_blank' if @order.guide.present? %>

      <%= link_to 'Buscar otro pedido', track_path, class: 'btn btn-light btn-lg' %>
    </div>
  </div>
</div>
