<% provide :title, t('labels.dashboard') %>
<%= content_tag :h2, t('labels.today_statistics'), class: 'text-center' %> <hr>

<div class="row">
  <div class="col-12 text-center">
    <a href="?chart_type=line" class="ml-3 mr3">
     <i class="fas fa-chart-line fa-3x"></i>
    </a>
    <a href="?chart_type=bar" class="ml-3 mr3">
      <i class="fas fa-chart-bar fa-3x"></i>
    </a>
    <a href="?chart_type=pie" class="ml-3 mr3">
     <i class="fas fa-chart-pie fa-3x"></i>
    </a>
  </div>
</div>
<hr>

<div class="row justify-content-around">
  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos por Paquetería</h3></div>
    <canvas id="orders-by-parcel" width="400" height="400"
      data-json="<%= @orders_by_parcel.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos en Cola</h3></div>
    <canvas id="pendant-orders" width="400" height="400"
      data-json="<%= @pendant_orders.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>
</div>

<div class="row justify-content-around mt-5">
  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos por Usuario</h3></div>
    <canvas id="orders-by-user" width="400" height="400"
      data-json="<%= @orders_by_user.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos Surtidos</h3></div>
    <canvas id="supplied-orders" width="400" height="400"
      data-json="<%= @supplied_orders.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>
</div>

<div class="row justify-content-around mt-5">
  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos Ensamblados</h3></div>
    <canvas id="assembled-orders" width="400" height="400"
      data-json="<%= @assembled_orders.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Pedidos Empacados</h3></div>
    <canvas id="packed-orders" width="400" height="400"
      data-json="<%= @packed_orders.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>
</div>

<div class="row justify-content-around mt-5">
  <div class="col-xl-4 col-lg-6 col-md-8 col-12">
    <div class="col-12 text-center"><h3>Guías Registradas</h3></div>
    <canvas id="guides-registered" width="400" height="400"
      data-json="<%= @guides_registered.to_json %>" data-chart-type="<%= params[:chart_type] %>">
    </canvas>
  </div>
</div>
