<div class="card">
  <h2 class="card-header"><%= yield :page_header %></h2>
  <div class="card-body">
    <%= form_for [:admin, @order] do |f| %>
    <%= render partial: '/shared/form_errors.html.erb', locals: {obj: @order} %>

    <div class="form-group">
      <%= f.label :ddtech_key %>
      <%= f.text_field :ddtech_key, class: 'form-control',
          minlength: 5, maxlength: 6,  required: true, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :client_email %>
      <%= f.email_field :client_email, class: 'form-control', maxlength: 50, required: true,
          onpaste: "setTimeout(function() {document.getElementById('order_parcel').focus();}, 0)" %>
    </div>

    <div class="form-group">
      <%= f.label :parcel %>
      <%= f.select :parcel, parcels_for_select(),
          {prompt: t('labels.select')}, {class: 'form-control', required: true} %>
    </div>

    <div class="row mt-2 mb-2 pt-3 border-top border-bottom">
      <div class="col-lg-4 col-sm-6 col-xm-12">
        <div class="form-group">
          <%= f.label :assemble %>
          <%= f.check_box :assemble %>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <%= f.label :multiple_packages %>
          <%= f.check_box :multiple_packages %>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <%= f.label :urgent %>
          <%= f.check_box :urgent %>
        </div>
      </div>
    </div>

    <%= f.submit t('labels.save'), class: 'btn btn-primary btn-lg' %>

    <% end %>

    <%= render 'retention_form' %>
  </div>
</div>
