<tr class="<%= 'table-warning' if order.urgent %>">
  <%= content_tag :td, link_to(order.ddtech_key, admin_order_path(order)) %>
  <%= content_tag :td, link_to(order.client_email, "mailto:#{order.client_email}") %>
  <%= content_tag :td, order.user %>
  <td>
    <%= status_badge(order) %>
    <%= content_tag :span, Order.human_attribute_name(:urgent),
      class: 'badge badge-danger' if order.urgent %>
  </td>
  <%= content_tag :td, l(order.created_at, format: :only_date) %>
  <td>
    <%= link_to edit_admin_order_path(order),
      class: 'btn btn-outline-light btn-sm hidden-action' do %>
    <i class="fas fa-fw fa-pencil-alt"></i>
    <% end if can? :update, order %>

    <%= link_to admin_order_path(order),
      method: :delete, class: 'btn btn-danger btn-sm hidden-action',
      data: { confirm: t('.are_you_sure_to_delete', order: order) } do %>
    <i class="fas fa-fw fa-trash"></i>
    <% end if can? :destroy, order %>
  </td>
</tr>
<% if order.tags.length > 0 %>
  <tr class="table-active">
    <%= content_tag :td, Tag.model_name.human(count: 2) %>
    <td colspan=5>
      <% order.tags.each do |tag| %>
        <%= render partial: '/admin/tags/tag_badge', locals: {order: order, tag: tag} %>
      <% end %>
    </td>
  </tr>
<% end %>

