<% provide :title, t('.title') %>

<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= yield :title %></h3>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:ddtech_key),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= @order.ddtech_key %>
        </p>

        <p class="card-text">
          <%= content_tag :span, t('labels.created_at'),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= l(@order.created_at, format: :long) %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:user_id),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= can?(:read, @order.user) ?
            link_to(@order.user, admin_user_path(@order.user)) : @order.user %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:client_email),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= link_to @order.client_email, "mailto:#{@order.client_email}" %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:assemble),
            class: 'font-weight-bold text-uppercase' %>
          <%= content_tag :span, t("order.assemble.#{@order.assemble}").html_safe %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:guide),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= content_tag :span, @order.guide, class: 'badge badge-primary badge-pill' %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:parcel),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= content_tag :span, @order.parcel,
            class: "parcel #{@order.parcel.downcase}" %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:status),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= content_tag :span, t("order.statuses.#{@order.status}"),
            class: 'badge badge-primary badge-pill' %>
        </p>

        <%= render partial: 'update_status_form', locals: {order: @order} %>

        <%= render partial: 'update_guide_form', locals: {order: @order} %>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-6 col-sm-12 col-12">
    <%= render partial: '/admin/movements/card', locals: {movements: @movements} %>
    <%= render partial: '/admin/notes/card', locals: {notes: @notes, new_note: @order.notes.build} %>
  </div>
</div>
