<%= provide :title, t('.title') %>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card card-figure">
      <figure class="figure">
        <%= content_tag(:span, @order.user.name[0..1], class: 'user-badge badge-xl') %>

        <figcaption class="figure-caption">
          <%= content_tag :h6, @order.user, class: 'figure-title' %>
          <%= content_tag :span, t("roles.#{@order.user.role}"),
            class: 'badge badge-secondary badge-pill' %>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="col-xl-6 col-lg-8 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= yield :title %></h3>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:ddtech_key),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= @order.ddtech_key %>
        </p>
        <p class="card-text">
          <%= content_tag :span, t('labels.created_at'),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= l(@order.created_at, format: :long) %>
        </p>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:user_id),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= can?(:read, @order.user) ?
            link_to(@order.user, admin_user_path(@order.user)) : @order.user %>
        </p>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:client_email),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= @order.client_email %>
        </p>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:status),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= content_tag :span, @order.status,
            class: 'badge badge-secondary badge-pill' %>
        </p>
      </div>
    </div>
  </div>
</div>
