<% provide :title, t('.title', order: @order.ddtech_key) %>

<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card">
      <div class="card-header <%= 'bg-warning' if @order.urgent %>">
        <h2 class="card-title">
          <%= yield :title %>
          <%= link_to edit_admin_order_path(@order), class: 'float-right' do %>
            <i class='fas fa-edit'></i>
          <% end if can? :update, @order %>
        </h2>
        <%= content_tag :span, Order.human_attribute_name(:urgent),
          class: 'badge badge-danger' if @order.urgent %>
      </div>
      <div class="card-body">

        <%= content_tag :p, l(@order.created_at, format: :long), class: 'card-text' %>
        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:status),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= status_badge(@order) %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:user_id),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= can?(:read, @order.user) ?
            link_to(@order.user, admin_user_path(@order.user)) : @order.user %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:client_email),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= link_to @order.client_email, "mailto:#{@order.client_email}" %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:assemble),
            class: 'font-weight-bold text-uppercase' %>
          <%= content_tag :span, t("order.assemble.#{@order.assemble}").html_safe %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:multiple_packages),
            class: 'font-weight-bold text-uppercase' %>
          <%= content_tag :span, t("order.assemble.#{@order.multiple_packages}").html_safe %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:parcel),
            class: 'font-weight-bold text-uppercase' %><br>
          <%= content_tag :span, @order.parcel,
            class: "parcel #{@order.parcel.downcase}" %>
        </p>

        <p class="card-text">
          <%= content_tag :span, Order.human_attribute_name(:guide),
            class: 'font-weight-bold text-uppercase' if @order.guide %>
          <%= content_tag :span, @order.guide, class: 'badge badge-primary badge-pill' %>
        </p>
      </div>
      <div class="card-footer">
        <%= content_tag :h3, Tag.model_name.human(count: 2) %>

        <% @order.tags.each do |tag| %>
          <%= render partial: '/admin/tags/tag_badge', locals: {order: @order, tag: tag} %>
        <% end %>

        <%= form_for OrderTag.new, url: admin_order_order_tags_path(@order.id) do |f| %>
          <div class="form-group mt-3">
            <%= f.hidden_field :order_id, value: @order.id %>
            <%= f.label :tag_id, 'Añadir Etiqueta' %>
            <%= f.select :tag_id, Tag.all.order(:name).collect {|tag| [tag.name, tag.id]}, 
              {prompt: 'Selecciona la etiqueta'}, { class: 'form-control', required: true } %>
          </div>
          <%= f.submit t('labels.save'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-6 col-sm-12 col-12">
    <%= render partial: '/admin/movements/card', locals: {movements: @movements} %>
    <%= render partial: '/admin/notes/card', locals: {notes: @notes, new_note: @order.notes.build} %>
  </div>
</div>
