<% provide :title, t('admin.orders.index.process_orders') %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= yield :title %></h2>
      </div>
      <div class="card-body">
        <%= form_with(model: Order.new, method: :put,
            url: update_status_admin_orders_path,
            html: {id: 'update_order_status'}) do |f| %>

          <div class='form-group'>
            <%= f.select :status, update_order_statuses_for_select(current_user.role),
              { prompt: t('.select_a_process') },
              { class: 'form-control', autocomplete: :off } %>
          </div>

          <div class="form-group">
            <%= f.select :updater_id, users_for_select(role: User::ROLES[:warehouse]),
              {}, { class: 'form-control users-select warehouse-users d-none', disabled: true } %>

            <%= f.select :updater_id, users_for_select(role: User::ROLES[:assembler]),
              {}, { class: 'form-control users-select assembler-users d-none', disabled: true } %>

            <%= f.select :updater_id, users_for_select(role: User::ROLES[:packer]),
              {}, { class: 'form-control users-select packer-users d-none', disabled: true } %>
          </div>

          <div class='form-group'>
            <%= f.label :ddtech_key %>
            <%= f.text_field :ddtech_key, class: 'form-control text-lowercase', 'data-prevent-spaces' => true %>
          </div>

          <div class="form-group">
            <%= f.select :data, [
                'Accesorios de cómputo',
                'Componentes de cómputo',
                'Computadora armada',
                'Monitor',
                'Silla',
                'Impresora',
                'Otro'
              ],
              { prompt: 'Selecciona una descripción (opcional)' },
              { class: 'form-control' } %>
          </div>

          <%= f.submit t('labels.save'), class: 'btn btn-primary m-2' %>
        <% end %>

        <div class="mt-2 processed-orders"></div>
      </div>
    </div>
  </div>
</div>
