<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The page you were looking for doesn't exist (404)</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'not_found', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'not_found', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <div></div>
        <h1>404</h1>
      </div>
      <h2>Page not found</h2>
      <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <%= link_to 'home page',
        (logged_in? ? admin_dashboard_index_path : root_path) %>
    </div>
  </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>