<tr>
  <td>
    <%= link_to devolution.rma, admin_devolution_path(devolution) %>
    <%= content_tag :i, nil, class: 'fas fa-file-alt ml-1 mr-1' if devolution.actions_taken? %>
    <%= content_tag :i, nil, class: 'fas fa-truck ml-1 mr-1' if devolution.guide_id.present? %>
  </td>
  <td>
    <%= link_to devolution.user, admin_user_path(devolution.user) if devolution.user %>
  </td>
  <td class="text-uppercase">
    <%= link_to devolution.order_id, admin_orders_path(filter: {keywords: devolution.order_id}), target: '_blank' %>
  </td>
  <%= content_tag :td, devolution.client_name, class: 'text-uppercase' %>
  <td>
    <%= link_to devolution.email, admin_orders_path(filter: {keywords: devolution.email}), target: '_blank' %>
  </td>
    <%= content_tag :td, l(devolution.created_at, format: :date) %>
  <td>
    <%= link_to edit_admin_devolution_path(devolution),
      class: 'btn btn-outline-light btn-sm hidden-action' do %>
    <i class="fas fa-fw fa-pencil-alt"></i>
    <% end if can? :update, devolution %>

    <%= link_to admin_devolution_path(devolution),
      method: :delete, class: 'btn btn-danger btn-sm hidden-action',
      data: { confirm: t('.are_you_sure_to_delete', devolution: devolution) } do %>
    <i class="fas fa-fw fa-trash"></i>
    <% end if can? :destroy, devolution %>
  </td>
</tr>
