<div class="row">
  <div class="col-md-12">
    <div class="card">
      <%= content_tag :h3, t("labels.filters"), class: "card-header" %>
      <div class="card-body">
        <%= form_for :filter, method: :get, html: {class: "form-inline"} do |f| %>
          <div class="form-group mx-sm-3">
            <%= f.label :keywords, t('.search_by'), class: 'sr-only'  %>
            <%= f.text_field :keywords, value: filter_params(require: :keywords),
              class: 'form-control filter text-lowercase mt-3', placeholder: t('.search_by') %>
          </div>

          <div class='form-group mx-sm-3'>
            <%= f.label :user_id, User.model_name.human, class: 'sr-only'  %>
            <%= f.select :user_id, users_for_select(role: User::ROLES[:support_and_warranty]),
                { prompt: User.model_name.human, selected: filter_params(require: :user_id) },
                { class: 'form-control filter mt-3' } %>
          </div>

          <%= f.submit t('labels.filter'), class: 'btn btn-primary mt-3' %>
          <%= link_to t('labels.clear_filters'), admin_devolutions_path, class: 'btn btn-light mt-3 ml-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

