<div class="card">
  <h2 class="card-header"><%= yield :page_header %></h2>
  <div class="card-body">
    <%= form_for [:admin, @devolution] do |f| %>
    <%= render partial: '/shared/form_errors.html.erb', locals: {obj: @devolution} %>

    <div class="form-group">
      <%= f.label :client_name %>
      <%= f.text_field :client_name, class: 'form-control',
          maxlength: 50, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :order_id %>
      <%= f.text_field :order_id, class: 'form-control',
          minlength: 5, maxlength: 6, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control',
          maxlength: 50, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :telephone %>
      <%= f.telephone_field :telephone, class: 'form-control',
          maxlength: 50, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :client_type %>
      <%= f.text_field :client_type, class: 'form-control',
          maxlength: 50, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :products %>
      <%= f.text_area :products, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street, class: 'form-control', maxlength: 60, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :colony %>
      <%= f.text_field :colony, class: 'form-control', maxlength: 60, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :zc %>
      <%= f.number_field :zc, class: 'form-control', step: 1, min: 10000, max: 99999 %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control', maxlength: 60, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control', maxlength: 60, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :comments %>
      <%= f.text_area :comments, class: 'form-control' %>
    </div>

    <%= f.submit t('labels.save'), class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>

