<% provide :title, @devolution %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= yield :title %></h2>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <p class="card-text col-lg-4 col-12">
            <%= content_tag :span, Devolution.human_attribute_name(:order_id),
              class: 'font-weight-bold text-uppercase' %><br>
            <%= link_to @devolution.order_id, admin_orders_path(filter: {keywords: @devolution.order_id}), target: '_blank' %>
          </p>
          <p class="card-text col-lg-4 col-12">
            <%= content_tag :span, Devolution.human_attribute_name(:client_name),
              class: 'font-weight-bold text-uppercase' %><br>
            <%= @devolution.client_name %>
          </p>
          <p class="card-text col-lg-4 col-12">
            <%= content_tag :span, Devolution.human_attribute_name(:email),
              class: 'font-weight-bold text-uppercase' %><br>
            <%= @devolution.email %>
          </p>
          <p class="card-text col-lg-4 col-12">
            <%= content_tag :span, Devolution.human_attribute_name(:telephone),
              class: 'font-weight-bold text-uppercase' %><br>
            <%= @devolution.telephone %>
          </p>
          <p class="card-text col-lg-4 col-12">
            <%= content_tag :span, Devolution.human_attribute_name(:client_type),
              class: 'font-weight-bold text-uppercase' %><br>
            <%= @devolution.client_type %>
          </p>
        </div>

        <div class="row mb-3">
          <div class="col-lg-4 col-12 pb-3">
            <%= content_tag :span, Devolution.human_attribute_name(:products),
              class: 'font-weight-bold text-uppercase' %>
            <%= simple_format(@devolution.products) %>
            <%= content_tag :span, Devolution.human_attribute_name(:description),
              class: 'font-weight-bold text-uppercase' %>
            <%= simple_format(@devolution.description) %>
            <%= content_tag :span, Devolution.human_attribute_name(:devolution_address),
              class: 'font-weight-bold text-uppercase' %>
            <%= simple_format(@devolution.devolution_address) %>
            <%= content_tag :span, Devolution.human_attribute_name(:comments),
              class: 'font-weight-bold text-uppercase' %>
            <%= simple_format(@devolution.comments) %>
          </div>
          <div class="col-lg-4 col-12 pb-3">
            <p class="card-text">
              <%= content_tag :span, Devolution.human_attribute_name(:user_id),
                class: 'font-weight-bold text-uppercase' %><br>
              <%= link_to @devolution.user, admin_user_path(@devolution.user),
                class: 'badge badge-pill badge-primary' if @devolution.user %>
            </p>
            <%= content_tag :span, Devolution.human_attribute_name(:actions_taken),
              class: 'font-weight-bold text-uppercase' %>
            <%= simple_format(@devolution.actions_taken) %>
            <p class="card-text">
              <%= content_tag :span, Devolution.human_attribute_name(:parcel),
                class: 'font-weight-bold text-uppercase' %><br>
              <%= content_tag :span, @devolution.parcel,
                class: "parcel #{@devolution.parcel.downcase} font-weight-bold" if @devolution.parcel %>
            </p>
            <p class="card-text">
              <%= content_tag :span, Devolution.human_attribute_name(:guide_id),
                class: 'font-weight-bold text-uppercase' %><br>
              <%= @devolution.guide_id %>
            </p>
          </div>
        </div>

        <%= render partial: 'take_devolution_form', locals: { devolution: @devolution } %>
        <div class="row">
          <div class="col-lg-6 col-12">
            <%= render partial: 'actions_taken_form', locals: { devolution: @devolution } %>
          </div>
          <div class="col-lg-6 col-12">
            <%= render partial: 'guide_form', locals: { devolution: @devolution } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

