<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'sessions', 'data-turbolinks-track': 'reload' %>

  <%= content_tag :title, 'Solicitud de factura ML recibida' %>
</head>

<body style="height: auto;">

  <div class="container">
    <%= render '/shared/alerts.html.erb' %>
    <div class="card">
      <div class="card-header">
        <div class="card-stripe bg-primary"></div>
        <h1 class="card-title display-4 font-weight-bold text-center mt-3">¡Recibimos tu solicitud de facturación!</h1>
      </div>
      <div class="card-body">
        <p>En cuanto tengamos lista tu factura te la haremos llegar vía correo electrónico, por favor revisa tu carpeta de SPAM ya que en ocasiones nuestros correos terminan siendo catalogados como tal por error.</p>
        <div class="pt-3 pb-3">
          <p>Los datos que hemos recibido son los siguientes:</p>
          <p><strong>Número de Venta:</strong> <%= @ml_billing[:pseudonym] %></p>
          <p><strong>Email:</strong> <%= @ml_billing[:email] %></p>
          <p><strong>Nombre / Razón Social:</strong> <%= @ml_billing[:name] %></p>
          <p><strong>RFC:</strong> <%= @ml_billing[:rfc] %></p>
          <p><strong>CFDI:</strong> <%= @ml_billing[:cfdi] %></p>
          <p><strong>Método de pago:</strong> <%= @ml_billing[:payment_type] %></p>
          <p><strong>Calle:</strong> <%= @ml_billing[:street] %></p>
          <p><strong>Número ext:</strong> <%= @ml_billing[:ext_number] %></p>
          <p><strong>Número int:</strong> <%= @ml_billing[:int_number] %></p>
          <p><strong>Colonia:</strong> <%= @ml_billing[:colony] %></p>
          <p><strong>C.P.:</strong> <%= @ml_billing[:zc] %></p>
          <p><strong>Ciudad:</strong> <%= @ml_billing[:city] %></p>
          <p><strong>Estado:</strong> <%= @ml_billing[:state] %></p>
        </div>
        <p>Gracias por su atención y comprensión.</p>
        <p>Atte: El equipo DDTECH</div>
      </div>
    </div>
  </div>

</body>

</html>
