<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'sessions', 'data-turbolinks-track': 'reload' %>

  <%= content_tag :title, 'Solicitud de factura ML' %>
</head>

<body style="height: auto;">

  <div class="container">
    <%= render '/shared/alerts.html.erb' %>
    <div class="card">
      <div class="card-header">
        <div class="card-stripe bg-primary"></div>
        <h1 class="card-title display-4 font-weight-bold text-center mt-3">Solicitud de factura para Mercado Libre DDTECH</h1>
      </div>
      <div class="card-body">
        <%= form_for :ml_billing, url: ml_billings_path, html: {autocomplete: :off} do |f| %>
          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-user"></i>
              <%= f.label :pseudonym, 'Número de Venta' %>
            </div>
            <%= f.text_field :pseudonym, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Número de Venta', maxlength: 100, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-at"></i>
              <%= f.label :email, 'Correo electrónico' %>
            </div>
            <%= f.email_field :email, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Correo electrónico', maxlength: 100, required: true %>
          </div>

          <div class="bg-primary rounded">
            <h2 class="text-center font-weight-bold text-light pt-3 pb-3">
                <i class="fas fa-user-tie mr-2"></i> Datos fiscales
            </h2>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-dollar-sign"></i>
              <%= f.label :cfdi, 'Uso de CFDI' %>
            </div>
            <div class="col-lg-9 col-md-8">
              <label class="custom-control custom-radio">
                <%= f.radio_button :cfdi, 'G01 Adquisición de Mercancia', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_cfdi" %>
                <span class="custom-control-label">Adquisición de Mercancia</span>
              </label>
              <label class="custom-control custom-radio">
                <%= f.radio_button :cfdi, 'G03 Gastos en General', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_cfdi" %>
                <span class="custom-control-label">Gastos en General</span>
              </label>
              <label class="custom-control custom-radio">
                <%= f.radio_button :cfdi, 'I04 Equipo de Cómputo y Accesorios', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_cfdi" %>
                <span class="custom-control-label">Equipo de Cómputo y Accesorios</span>
              </label>
              <div class="row">
                <div class="col-lg-2">
                  <label class="custom-control custom-radio">
                    <%= f.radio_button :cfdi, false, class: 'custom-control-input',
                      "data-enable" => "#ml_billing_cfdi" %>
                    <span class="custom-control-label">Otro:</span>
                  </label>
                </div>
                <%= f.text_field :cfdi, class: "form-control form-control-lg col-lg-10", maxlength: 60, disabled: true %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-user"></i>
              <%= f.label :name, 'Nombre / Razón Social' %>
            </div>
            <%= f.text_field :name, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Nombre / Razón Social', maxlength: 100, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-key"></i>
              <%= f.label :rfc, 'RFC' %>
            </div>
            <%= f.text_field :rfc, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'RFC', maxlength: 13, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :person_type, 'Tipo de persona' %>
            </div>
            <%= f.select :person_type, ['Física', 'Moral'],
              { prompt: 'Selecciona una opción...' },
              class: 'form-control form-control-lg col-lg-9 col-md-8', required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-dollar-sign"></i>
              <%= f.label :fiscal_regimen, 'Regimen Fiscal' %>
            </div>
            <div class="col-lg-9 col-md-8 fiscal-regimen-options">
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '601 - General de ley personas morales', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">601 - General de ley personas morales</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '603 - Personas morales con fines no lucrativos', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">603 - Personas morales con fines no lucrativos</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '605 - Sueldos y salarios e ingresos asimilados', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">605 - Sueldos y salarios e ingresos asimilados</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '606 - Arrendamiento', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">606 - Arrendamiento</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '607 - Regimen de enajenación', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">607 - Regimen de enajenación</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '608 - Demás ingresos', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">608 - Demás ingresos</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen">
                <%= f.radio_button :fiscal_regimen, '610 - Residentes en el extranjero', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">610 - Residentes en el extranjero</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '611 - Ingresos por dividendo socios y accionistas', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">611 - Ingresos por dividendo socios y accionistas</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '612 - Personas físicas con actividad empresarial', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">612 - Personas físicas con actividad empresarial</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '614 - Ingresos por intereses', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">614 - Ingresos por intereses</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '615 - Regimen de los ingresos', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">615 - Regimen de los ingresos</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '616 - Sin obligaciones fiscales', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">616 - Sin obligaciones fiscales</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '620 - Sociedades cooperativas de producción', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">620 - Sociedades cooperativas de producción</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '621 - Incorporación fiscal', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">621 - Incorporación fiscal</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '622 - Actividades agrícolas', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">622 - Actividades agrícolas</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '623 - Opcional para grupos de sociedades', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">623 - Opcional para grupos de sociedades</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen moral">
                <%= f.radio_button :fiscal_regimen, '624 - Coordinados', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">624 - Coordinados</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen physical">
                <%= f.radio_button :fiscal_regimen, '625 - Regimen de las actividades empresariales', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">625 - Regimen de las actividades empresariales</span>
              </label>
              <label class="custom-control custom-radio fiscal-regimen">
                <%= f.radio_button :fiscal_regimen, '626 - Regimen simplificado de confianza', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_fiscal_regimen" %>
                <span class="custom-control-label">626 - Regimen simplificado de confianza</span>
              </label>
              <div class="row">
                <div class="col-lg-2">
                  <label class="custom-control custom-radio">
                    <%= f.radio_button :fiscal_regimen, false, class: 'custom-control-input',
                      "data-enable" => "#ml_billing_fiscal_regimen" %>
                    <span class="custom-control-label">Otro:</span>
                  </label>
                </div>
                <%= f.text_field :fiscal_regimen, class: "form-control form-control-lg col-lg-10", maxlength: 60, disabled: true %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <i class="fas fa-dollar-sign"></i>
              <%= f.label :payment_type, 'Forma de pago' %>
            </div>
            <div class="col-lg-9 col-md-8">
              <label class="custom-control custom-radio">
                <%= f.radio_button :payment_type, 'Transferencia Bancaria', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_payment_type" %>
                <span class="custom-control-label">Transferencia Bancaria</span>
              </label>
              <label class="custom-control custom-radio">
                <%= f.radio_button :payment_type, 'Depósito bancario', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_payment_type" %>
                <span class="custom-control-label">Depósito bancario</span>
              </label>
              <label class="custom-control custom-radio">
                <%= f.radio_button :payment_type, 'Tarjeta de Débito', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_payment_type" %>
                <span class="custom-control-label">Tarjeta de Débito</span>
              </label>
              <label class="custom-control custom-radio">
                <%= f.radio_button :payment_type, 'Tarjeta de Crédito', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_payment_type" %>
                <span class="custom-control-label">Tarjeta de Crédito</span>
              </label>
              <label class="custom-control custom-radio">
                  <%= f.radio_button :payment_type, 'Efectivo', class: 'custom-control-input',
                  required: true, "data-disable" => "#ml_billing_payment_type" %>
                <span class="custom-control-label">Efectivo</span>
              </label>
              <div class="row">
                <div class="col-lg-2">
                  <label class="custom-control custom-radio">
                    <%= f.radio_button :payment_type, false, class: 'custom-control-input',
                      "data-enable" => "#ml_billing_payment_type" %>
                    <span class="custom-control-label">Otro:</span>
                  </label>
                </div>
                <%= f.text_field :payment_type, class: "form-control form-control-lg col-lg-10", maxlength: 60, disabled: true %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :street, 'Calle' %>
            </div>
            <%= f.text_field :street, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Calle', maxlength: 60, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :ext_number, 'Número exterior' %>
            </div>
            <%= f.text_field :ext_number, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Número exterior', maxlength: 6, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :int_number, 'Número interior' %>
            </div>
            <%= f.text_field :int_number, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Número interior', maxlength: 6 %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :colony, 'Colonia' %>
            </div>
            <%= f.text_field :colony, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Colonia', maxlength: 60, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :zc, 'C.P.' %>
            </div>
            <%= f.text_field :zc, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'C.P.', minlength: 5, maxlength: 5, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :city, 'Ciudad' %>
            </div>
            <%= f.text_field :city, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Ciudad', maxlength: 30, required: true %>
          </div>

          <div class="form-group row">
            <div class="col-lg-3 col-md-4 col-form-label">
              <%= f.label :state, 'Estado' %>
            </div>
            <%= f.text_field :state, class: 'form-control form-control-lg col-lg-9 col-md-8',
              placeholder: 'Estado', maxlength: 30, required: true %>
          </div>

          <%= f.submit t('labels.save'), class: 'btn btn-primary btn-lg btn-block mt-4' %>
        <% end %>
      </div>
    </div>
  </div>

</body>

</html>
