<div class="card-body text-center">
  <h2 class="m-0">Pedido: #<%= @order.ddtech_key %></h2>

  <% if @order.multiple_packages and @guides_count == 1  %>
    <p style="text-align: left;">
      Hola nos complace informarle que para agilizar el proceso de entrega de su pedido decidimos enviarle parcialmente el mismo, ésto sin nungún costo extra para usted. En los próximos días le haremos llegar su(s) demás números de rastreo. Esto sucede normalmente cuando el pedido contiene un equipo de cómputo y temos una fila un poco larga en la línea de ensamble. Por favor no se procupe si incluso llega a recibir su primer paquete y aún no ha recibido el/los demás números de rastreo, en cuanto los tengamos listos se le harán llegar en un correo similar al presente.
    </p>
  <% else %>
    <p class="text-center">
      Hola nos complace hacerte entrega de tu(s) número(s) de rastreo:
    </p>
  <% end %>

  <div class="parcel <%= @order.parcel.downcase %> text-center">
    <%= content_tag :h2, @order.parcel %>
    <%= content_tag :h2, @guide %>
  </div>

  <p class="text-center pb-1em">Nota: La paquetería puede demorar hasta 24hrs en mostrar información en el rastreo.</p>

  <div class="text-center pb-1em">
    <%= link_to t('labels.track_your_package'),
        t("mailer.body.track_urls.#{@order.parcel.downcase}"),
        class: 'btn btn-success btn-lg' %>
  </div>
</div>
<div class="card-footer bg-primary text-light">
  <p class="text-center text-uppercase"><strong>¡Importante!</strong></p>
  <p class="text-center text-uppercase"><strong>Qué hacer si llega en mal estado mi pedido:</strong></p>
  <p>
  Ya sea por un posible robo parcial o daño por el transportista, el paquete tiene que ser recibido por usted para generar el reporte correspondiente dentro de las primeras 48 horas, y enviarlo al correo <a href="mailto:logistica@ddtech.mx" class="text-light">logistica@ddtech.mx</a> tomando evidencia como fotos del paquete dañado y/o abierto o una nota al momento de firmar de recibido, no nos hacemos responsables ni atenderemos reportes una vez hayan pasado las 48 horas después de recibido el paquete.
  </p>
  <p class="text-center text-uppercase"><strong>Si Pagaste seguro de envió:</strong></p>
  <p>
    Tu paquete está protegido contra robo o extravió TOTAL de la paquetería, esto quiere decir, que si tu paquete fue robado en su totalidad o la paquetería no puede entregarlo debido a que lo extravió, ddtech te enviará un nuevo paquete con los mismos productos que contenía en tu orden de compra o bien te repondrá el valor de la misma.
  </p>
  <p>
    Lamentablemente no podemos cubrir robos parciales, Esto es si tu paquete es recibido por ti y alguno de los productos ha sido sustraido de la caja. Es por ello que te instamos a revisar minuciosamente el paquete antes de firmar de recibido y seguir los pasos para estos casos mencionados más arriba si se llegase a presentar algún problema con tu paquete. Recuerda que solo podemos proteger entregas a domicilio, por lo que el seguro es invalido si decides recoger tu compra en las instalaciones de la paqueterìa.
  </p>
  <p class="text-center text-uppercase"><strong>¿Dónde encuentro más información?</strong></p>
  <p>
    Puedes ver más a detalles los términos y condiciones de los envíos con seguro en el siguiente enlace:<br>
    https://ddtech.mx/seguro/
  </p>
</div>

