<!doctype html>
<html lang="es" class="bg-white">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'sessions', 'data-turbolinks-track': 'reload' %>

  <%= content_tag :title, t('labels.devolution_form') %>
</head>
<body class="text-center d-block p-0">

  <div class="cover-container devolution-success-cover w-100 h-100 p-3 mx-auto flex-column" style="">
    <main role="main" class="inner cover h-100">
      <div class="row h-100">
        <div class="col-12 align-self-center">
          <h1 class="cover-heading font-weight-bold text-light display-2">¡Ya recibimos tu solicitud!</h1>
          <p class="lead text-light">Hacemos entrega de tu RMA ¡no lo pierdas!</p>
          <%= content_tag :h2, @devolution.rma, class: "display-3 text-light" %>
          <p class="lead">
            <span class="btn btn-lg btn-round btn-secondary">
              <i class="fas fa-arrow-down"></i>
            </span>
          </p>
        </div>
      </div>
    </main>
  </div>

  <div class="container lead text-left pt-5 pb-5">
    <h2 class="display-3 text-center font-weight-bold pb-5">A continuación</h2>
    <p>
      Regresa el producto a su caja original junto con los accesorios que vinieran con el mismo y
      <span class="text-secondary font-weight-bold">no pegues cinta adhesiva, etiquetas o calcomanías en la caja del producto ya que de hacerlo se podría invalidar tu garantía por parte del fabricante.</span>
      En el caso de enviarlo por paquetería te pedimos asegurar el producto lo más posible con protecciones para evitar daños. Además imprime almenos 2 veces el siguiente documento y pégalo en varias caras del paquete, esto con el fin de agilizar el proceso.
    </p>
    <p class="text-center">
      <%= link_to devolution_path(@devolution, format: :pdf), class: 'text-secondary font-weight-bold', target: '_blank' do %>
        <i class="fas fa-file-pdf"></i>
        garantía_ddtech_<%= @devolution.rma %>
      <% end %>
    </p>
    <p class="lead">Posteriormente sigue las instrucciones según sea tu caso:</p>
    <div class="row">
      <div class="col-md-6 col-12 mb-5">
        <h3 class="text-center">Garantía Local (Residente de Guadalajara)</h3>
        <p class="text-center"><i class="fas fa-map-marker-alt fa-3x text-primary pb-2"></i></p>
        <p>
          Puedes traer tú mismo el producto y entregarlo en la sucursal
          <%= link_to 'Jardines', 'https://ddtech.mx/contacto', class: 'text-secondary', target: '_blank' %>.
        </p>
      </div>
      <div class="col-md-6 col-12 mb-5">
        <h3 class="text-center">Garantía Foranea (Interior de la República)</h3>
        <p class="text-center"><i class="fas fa-globe-americas fa-3x text-primary pb-2"></i></p>
        <p>Una vez empacado, debes enviarnos el producto por paquetería para su revisión a la siguiente dirección:</p>
        <p>
          Adrian Ramirez Bucio<br>
          Av Patria 239<br>
          Entre calle del Mural y del Matriz<br>
          Col Manantial<br>
          CP 44860<br>
          Guadalajara, Jalisco
        </p>
      </div>
    </div>
    <!-- row end -->

    <p class="font-weight-bold">
      La fecha estimada para la resolución de tu garantía es antes del <%= content_tag :strong, l(20.days.from_now, format: :date) %>,
      de no haber recibido notificación alguna <strong>vía correo electrónico</strong> favor de comunicarse a
      <a href="mailto:soporte@ddtech.mx" class="text-secondary">soporte@ddtech.mx</a>.
    </p>
    <!-- container end -->

</body>
</html>
