<div class="row">
  <div class="col-md-12">
    <div class="card">
      <%= content_tag :h3, t('labels.filters'), class: 'card-header' %>
      <div class="card-body">
        <%= form_for :filter, method: :get, html: {class: 'form-inline'} do |f| %>

        <div class="form-group mx-sm-3">
          <%= f.label :keywords, 'Name or Email', class: 'sr-only'  %>
          <%= f.text_field :keywords, value: filter_params(require: :keywords),
            class: 'form-control filter', placeholder: 'Name or Email' %>
        </div>

        <div class='form-group mx-sm-3'>
          <%= f.label :role, User.human_attribute_name(:role), class: 'sr-only'  %>
          <%= f.select :role, roles_for_select(),
              { prompt: User.human_attribute_name(:role), selected: filter_params(require: :role) },
              { class: 'form-control' } %>
        </div>

        <%= f.submit t('labels.filter'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
