<% provide :title, User.model_name.human(count: 2) %>

<%= render 'filters' %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <%= yield :title %>
          <%= link_to new_admin_user_path do %>
          <i class="fas fa-fw fa-plus-circle fa-lg float-right text-secondary"></i>
          <% end if can? :create, User %>
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered table-hover">
            <thead class="bg-light">
              <tr>
                <%= content_tag :td, pagy_bootstrap_nav(@pagy).html_safe, colspan: 5 %>
              </tr>
              <tr class="border-0">
                <%= content_tag :th, t('labels.badge'), class: 'border-0' %>
                <%= content_tag :th, User.human_attribute_name(:name), class: 'border-0' %>
                <%= content_tag :th, User.human_attribute_name(:email), class: 'border-0' %>
                <%= content_tag :th, User.human_attribute_name(:role), class: 'border-0' %>
                <%= content_tag :th, t('labels.actions'), class: 'border-0' %>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
            <tfoot>
              <tr>
                <%= content_tag :td, pagy_bootstrap_nav(@pagy).html_safe, colspan: 5 %>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
