<%= render partial: 'order_header', locals: {order: @order} %>

<p class="text-center">
  Nos complace informarte que tu pedido fue realizado con éxito y ya cuenta con una guía de rastreo,
  debido a los retrasos que tienen las paqueteras para la actualización de estado de un rastreo
  es posible que el sistema no te arroje información sino hasta dentro de 24hrs aproximadamente.
</p>
<p class="text-center">
  Este correo solo tiene la finalidad de hacerle llegar el número de rastreo de su pedido, si tiene alguna duda conforme al mismo favor de responder a este correo.
</p>

<div class='parcel <%= @order.parcel %> text-center'>
  <%= content_tag :h1, @order.parcel %>
  <%= content_tag :h1, @guide %>
</div>

<div class="text-center" style="margin-top: 3em; margin-bottom: 2em;">
  <%= link_to t('labels.track_your_package'),
      t("mailer.body.track_urls.#{@order.parcel.downcase}"),
      class: 'btn btn-success btn-xxl' %>
</div>
<br>
